<!DOCTYPE html>
<html>
	<head>
		<title>KKC</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
   	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&amp;subset=korean" rel="stylesheet">
		<style>
		p{
			font-family: 'Nanum Gothic Coding', monospace;
			margin-top : 0px;
			margin-bottom: 0px;
		}
		/* The Modal (background) */
		 .modal {
				 display: none; /* Hidden by default */
				 position: fixed; /* Stay in place */
				 z-index: 1; /* Sit on top */
				 left: 0;
				 top: 0;
				 width: 100%; /* Full width */
				 height: 100%; /* Full height */
				 overflow: auto; /* Enable scroll if needed */
				 background-color: rgb(0,0,0); /* Fallback color */
				 background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
		 }

		 /* Modal Content/Box */
		 .modal-in-content {
				 background-color: #585858;
				 margin: 15% auto; /* 15% from the top and centered */
				 padding: 20px;
				 border: 1px solid #888;
				 width: 22%; /* Could be more or less, depending on screen size */
				 height: 40%;
		 }
		 .modal-up-content {
				background-color: #585858;
				margin: 15% auto; /* 15% from the top and centered */
				padding: 20px;
				border: 1px solid #888;
				width: 60%; /* Could be more or less, depending on screen size */
				height: 70%;
		}
		 /* The Close Button */
		 .close {
				 color: #aaa;
				 float: right;
				 font-size: 28px;
				 font-weight: bold;
		 }
		 .close:hover,
		 .close:focus {
				 color: black;
				 text-decoration: none;
				 cursor: pointer;
		 }


		</style>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<!-- logo -->
							<li><img src="images/logo.png" width = '280' height = '280' style = 'margin-left:auto; margin-right:auto; display:block; padding:0px 0px 60px 0px;' /></li>
							<li><a href="#intro"><p>ABOUT US</p></a></li>
							<li><a href="#one"><p>회의 참여하기</p></a></li>
							<li><a href="#intro"><p>사용자 참여 현황</p></a></li>
							<li><a href="#intro"><p>MY PAGE</p></a></li>
							<li><a href="#four"><p>문의하기</p></a></li>
							<!-- Sign in / log in -->
							<li style="margin-left:30px; margin-right:30px">
								<button id="signin_btn" style = 'float:left'> SIGN IN</button>
								<button id="signup_btn" style = 'float:right'> SIGN UP</button>
							</li>
						</ul>
					</nav>
				</div>
			</section>



		<!-- Wrapper -->
			<div id="wrapper">
				<!-- The Modal -->

			 <div id="UpModal" class="modal">

		 		 <!-- Modal content -->
		 		 <div class="modal-up-content">
		 			 <span class="close">&times;</span>
					 <form action="/signup" method="post" onsubmit="return onWriteSubmit()" enctype="multipart/form-data">
						 <table>
						 	<tr>
								<div>
									 <td>이름</td>
									 <td><input type="text" name="user_name" id="user_name" value="user"/></td>
								 </div>

								<div>
									<td>아이디</td>
	 			                    <td><input type="text" name="user_id" id="user_id" value="user"/></td>
	 			                </div>
						 	</tr>
							<tr>
								<div>
									<td>비밀번호</td>
									<td><input type="password" name="user_pw" id="user_pw" value="user"/></td>
								</div>

								<div>
									<td>닉네임</td>
									<td><input type="text" name="user_nickname" id="user_nickname" value="user"/></td>
								</div>
							</tr>

							<tr>
								<div>
									<td>Email</td>
									<td><input type="email" name="user_email" id="user_email" value="@naver.com"/></td>
								</div>

								<div>
									<td>HP</td>
									<td><input type="text" name="user_phone" id="user_phone"value="01000000000"/></td>
								</div>
							</tr>

							<tr>
								<div>
									<td>주소</td>
									<td><input type="text" name="user_address" id="user_address"/></td>
								</div>

								<div>
									 <td>생년월일</td>
									 <td><input type="text" name="user_birth"  id="user_birth"></td>
								 </div>
							</tr>
							<tr>
								<div>
									<td>사용자 이미지</td>
									 <td><input type="file" name="user_image"/></td>
								 </div>
							</tr>
						 </table>
						 <tr>
							 <button type="submit" style="margin-left:auto; margin-right:auto;"> SUBMIT </button>
						 </tr>
					 </form>
		 		 </div>
		 	 </div>

			<div id="InModal" class="modal">
 		 		 <!-- Modal content -->
 		 		 <div class="modal-in-content">
 		 			 <span class="close">&times;</span>
					 <form class="signin" action="/signin" method="post">
                    <table>
                    <tr>
                        <td>ID</td>
                        <td><input type="text" name="conn_id" id="conn_id"></td>
                    </tr>
                    <tr>
                        <td>PW</td>
                        <td><input type="password" name="conn_pw" id="conn_pw"></td>
                    </tr>
                    </table>
                    <tr>
                        <button type="submit" style="margin-left:auto; margin-right:auto;"> LOGIN </button>
                    </tr>
					</form>
 		 		 </div>
 		 	</div>
			<script>
                var inmodal = document.getElementById('InModal');
                var inbtn = document.getElementById("signin_btn");
                var inspan = document.getElementsByClassName("close")[0];
                inbtn.onclick = function() {
                    inmodal.style.display = "block";
                }

                inspan.onclick = function() {
                    inmodal.style.display = "none";
                }
                window.onclick = function(event) {
                    if (event.target == inmodal) {
                        inmodal.style.display = "none";
                    }
                }
			</script>
			<script>
                var upmodal = document.getElementById('UpModal');
                var upbtn = document.getElementById("signup_btn");

                var span = document.getElementsByClassName("close")[0];
                upbtn.onclick = function() {
                        upmodal.style.display = "block";
                }

                span.onclick = function() {
                        upmodal.style.display = "none";
                }

                window.onclick = function(event) {
                        if (event.target == upmodal) {
                                upmodal.style.display = "none";
                        }
                }
			</script>
			<section id="intro" class="wrapper style1 fullscreen fade-up">
				<div class="inner">
					<h1>KKC : Meeting WEB Service</h1>
                <tr width = 90% height=60% >
                  <img src="images/before.jpg" width="550px" height="550px" align="left" style="-moz-border-radius: 550px; -khtml-border-radius: 550px;-webkit-border-radius: 550px;">
                  <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
                  <p>&nbsp; &nbsp;&nbsp; 이런! 아직 로그인을 안하셨군요!</p>
                  <p>&nbsp; &nbsp;&nbsp;저희 서비스는 100% 실명 회원제로 운영됩니다.</p>
                  <p>&nbsp;&nbsp; &nbsp;본 서비스를 제공받으시려면 회원가입 후 로그인을 해주세요!</p>
                  <p>&nbsp;&nbsp; &nbsp;회원 가입 및 로그인 버튼은 화면 하단 왼쪽에 위치해있습니다.</p>
                </tr>
				</div>
			</section>

				<!-- One -->
            <section id="one" class="wrapper style2 spotlights">
                <section>
                    <a href="#" class="image"><img src="/images/pic01.jpg" alt="" data-position="center center" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>화상 회의</h2>
                            <p>최대 4명까지 즐길 수 있는 화상 회의 입니다.</p>
                            <ul class="actions">
                                <li><a href="#intro" class="button">목록 보기</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <a href="#" class="image"><img src="/images/chat.png" alt="" data-position="top center" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>회의</h2>
                            <p>채팅 형태의 회의를 즐길 수 있습니다.</p>
                            <ul class="actions">
                                <li><a href="#intro" class="button">목록 보기</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <a href="#" class="image"><img src="/images/pic03.jpg" alt="" data-position="25% 25%" /></a>
                    <div class="content">
                        <div class="inner">
                            <h2>Ultricies aliquam</h2>
                            <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
                            <ul class="actions">
                                <li><a href="generic.html" class="button">Learn more</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </section>

				<!-- Two -->
            <section id="two" class="wrapper style3 fade-up">
                <div class="inner">
                    <h2>What we do</h2>
                    <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
                    <div class="features">
                        <section>
                            <span class="icon major fa-code"></span>
                            <h3>Lorem ipsum amet</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                        <section>
                            <span class="icon major fa-lock"></span>
                            <h3>Aliquam sed nullam</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                        <section>
                            <span class="icon major fa-cog"></span>
                            <h3>Sed erat ullam corper</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                        <section>
                            <span class="icon major fa-desktop"></span>
                            <h3>Veroeros quis lorem</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                        <section>
                            <span class="icon major fa-chain"></span>
                            <h3>Urna quis bibendum</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                        <section>
                            <span class="icon major fa-diamond"></span>
                            <h3>Aliquam urna dapibus</h3>
                            <p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
                        </section>
                    </div>
                    <ul class="actions">
                        <li><a href="#one" class="button">Learn more</a></li>
                    </ul>
                </div>
            </section>

				<!-- Three -->
            <section id="three" class="wrapper style1 fade-up">
                <div class="inner">
                    <h2>Get in touch</h2>
                    <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
                    <div class="split style1">
                        <section>
                            <form method="post" action="#">
                                <div class="fields">
                                    <div class="field half">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" />
                                    </div>
                                    <div class="field half">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" />
                                    </div>
                                    <div class="field">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" rows="5"></textarea>
                                    </div>
                                </div>
                                <ul class="actions">
                                    <li><a href="" class="button submit">Send Message</a></li>
                                </ul>
                            </form>
                        </section>
                        <section>
                            <ul class="contact">
                                <li>
                                    <h3>Address</h3>
                                    <span>12345 Somewhere Road #654<br />
                                    Nashville, TN 00000-0000<br />
                                    USA</span>
                                </li>
                                <li>
                                    <h3>Email</h3>
                                    <a href="#">user@untitled.tld</a>
                                </li>
                                <li>
                                    <h3>Phone</h3>
                                    <span>(000) 000-0000</span>
                                </li>
                                <li>
                                    <h3>Social</h3>
                                    <ul class="icons">
                                        <li><a href="https://www.twitter.com" class="fa-twitter"><span class="label">Twitter</span></a></li>
                                        <li><a href="https://facebook.com" class="fa-facebook"><span class="label">Facebook</span></a></li>
                                        <li><a href="https://github.com" class="fa-github"><span class="label">GitHub</span></a></li>
                                        <li><a href="https://instagram.com" class="fa-instagram"><span class="label">Instagram</span></a></li>
                                        <li><a href="https://www.naver.com" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </section>

					<!-- four -->
            <section id="four" class="wrapper style1 fade-up">
                <div class="inner">
                    <h1>문의하기</h1>
                    <p style="margin-bottom:15px"> 사용하시는 데에 발생하신 문제점이나 불편사항을 보내주시면 담당자가 빠른 시일 내로 답변드리겠습니다.</p>
                    <div class="split style1">
                        <section>
                            <form method="post" action="#">
                                <div class="fields">
                                    <div class="field half">
                                        <label for="name">ID</label>
                                        <input type="text" name="name" id="name" />
                                    </div>
                                    <div class="field half">
                                        <label for="email">Email</label>
                                        <input type="text" name="email" id="email" />
                                    </div>
                                    <div class="field">
                                        <label for="message">Message</label>
                                        <textarea name="message" id="message" rows="5"></textarea>
                                    </div>
                                </div>
                                <ul class="actions">
                                    <li><a href="" class="button submit">Send Message</a></li>
                                </ul>
                            </form>
                        </section>
                        <section>
                            <ul class="contact">
                                <li>
                                    <h3>Address</h3>
                                    <span>20 Kwangwoon-ro, Nowon-gu </span><br />
                                    Seoul 01897<br />
                                    KOREA</span>
                                </li>
                                <li>
                                    <h3>Email</h3>
                                    <a href="#">ADMIN_MAIL@naver.com</a>
                                </li>
                                <li>
                                    <h3>Phone</h3>
                                    <span>비밀♡</span>
                                </li>
                                <li>
                                    <h3>Social</h3>
                                    <ul class="icons">
                                        <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                                        <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                                        <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
                                        <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                                        <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </section>
			</div>

			<footer id="footer" class="wrapper style1-alt">
				<div class="inner">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</footer>
		<script>
			function onWriteSubmit(){
				if($("#user_name").val().trim() == "")
				{
					var message = "이름을 입력해주세요";
					$("#user_name").val("");
					$("#user_name").focus();
					alert(message);
					return false;
				}
				if($("#user_id").val().trim() == "")
				{
					var message = "아이디를 입력해주세요";
					$("#user_id").val("");
					$("#user_id").focus();
					alert(message);
					return false;
				}
				if($("#user_pw").val().trim() == "")
				{
					var message = "비밀번호을 입력해주세요";
					$("#user_pw").val("");
					$("#user_pw").focus();
					alert(message);
					return false;
				}
				if($("#user_nickname").val().trim() == "")
				{
					var message = "닉네임을 입력해주세요";
					$("#user_nickname").val("");
					$("#user_nickname").focus();
					alert(message);
					return false;
				}
				if($("#user_birth").val().trim() == "")
				{
					var message = "6자리 생년월일을 입력해주세요";
					$("#user_birth").val("");
					$("#user_birth").focus();
					alert(message);
					return false;
				}
				if($("#user_email").val().trim() == "")
				{
					var message = "이메일을 입력해주세요";
					$("#user_email").val("");
					$("#user_email").focus();
					alert(message);
					return false;
				}
				if($("#user_phone").val().trim() == "")
				{
					var message = "11자리 핸드폰번호를 입력해주세요";
					$("#user_phone").val("");
					$("#user_phone").focus();
					alert(message);
					return false;
				}
				if($("#user_address").val().trim() == "")
				{
					var message = "올바른 주소를 입력해주세요";
					$("#user_address").val("");
					$("#user_address").focus();
					alert(message);
					return false;
				}
				if($("#user_image").val().trim() == "")
				{
					var message = "사용자 이미지를 입력해주세요";
					$("#user_image").val("");
					$("#user_image").focus();
					alert(message);
					return false;
				}
			}
		</script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
	</body>
</html>
