<!DOCTYPE HTML>
<html>
	<head>
		<title>KKC</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
   	<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&amp;subset=korean" rel="stylesheet">
		<style>
			p{
				font-family: 'Nanum Gothic Coding', monospace;
				margin-top : 0px;
				margin-bottom: 0px;
			}
		</style>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body class="is-preload">
    <form name="joinform" action="" method="post">
      <div style='width:400px; height:800px; margin-top: 50px; margin-left: auto; margin-right: auto; padding-top:80px; padding-bottom:60px; border-top:4px solid white; border-bottom:4px solid white; '>
        <div style="margin-left:auto; margin-right:auto; margin-bottom:30px">
          <td>이름</td>
          <td><input type="text" name="user_name" /></td>
        </div>

        <div style="margin-left:auto; margin-right:auto; margin-bottom:30px">
          <td>아이디</td>
          <td><input type="text" name="user_id" /></td>
        </div>

        <div style="margin-left:auto; margin-right:auto; margin-bottom:30px">
          <td>비밀번호</td>
          <td><input type="password" name="user_pw" /></td>
        </div>

        <div style="margin-left:auto; margin-right:auto; margin-bottom:30px">
          <td>주소</td>
          <td><input type="text" name="user_address" /></td>
        </div>

        <div style="margin-left:auto; margin-right:auto; margin-bottom:30px">
          <td>생년월일</td>
          <td><input type="text" name="user_birth" value="YYMMDD"></td>
        </div>

      </div>

    </form>



		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
