<!doctype html>
<html lang="kr">
  <head>
      <title>회의 목록</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <link rel="stylesheet" href="/assets/css/main.css" />
      <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
      <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.0.min.js" ></script>
  </head>
  <body class="is-preload">
    <header id="header">
      <a href="/" class="title">Hyperspace</a>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/chat" class="active">회의 목록</a></li>
          <li><a href="/chat/make">방만들기</a></li>
        </ul>
      </nav>
    </header>
    <div id="wrapper">
				<!-- The Modal -->
      <h1 class="major"><%=idx%>번 방 만들기</h1>
			 <div id="UpModal" class="modal">

		 		 <!-- Modal content -->
		 		 <div class="modal-up-content">
					 <form action="/" method="post" onsubmit="return onWriteSubmit()" enctype="multipart/form-data">
						 <table>
						 	<tr>
								<div>
									 <td>방 이름</td>
									 <td><input type="text" name="user_name" id="user_name" /></td>
								 </div>
						 	</tr>
							<tr>
								<div>
									<td>비밀번호</td>
									<td><input type="password" name="user_pw" id="user_pw" /></td>
								</div>
							</tr>

							<tr>
								<div>
									<td>만든이</td>
									<td><input type="email" name="user_email" id="user_email" value="<%=builder%>" readonly/></td>
								</div>
							</tr>
							<tr>
								<div>
									<td>주소</td>
									<td><input type="text" name="user_address" id="user_address"/></td>
								</div>
							</tr>
							<tr>
								<div>
									<td>사용자 이미지</td>
									 <td><input type="file" name="user_image"/></td>
								 </div>
							</tr>
						 </table>
						 <tr>
							 <button type="submit" style="margin-left:auto; margin-right:auto;"> SUBMIT </button>
						 </tr>
					 </form>
		 		 </div>
		 	 </div>
      <footer id="footer" class="wrapper alt">
        <div class="inner">
          <ul class="menu">
            <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </footer>
      <script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
  </body>
</html>
